/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container{
	display:flex;
}

.flex_spacer{
	flex: 1 1 auto;
}
body{
	background-color: #DCDCDC;
}